In [95]:
import pandas as pd
se_train = pd.read_csv('../data/se_train.csv', index_col = 'key_value')
y_train = pd.read_csv('../data/y_train.csv', index_col = 'key_value')
se_test = pd.read_csv('../data/se_test.csv', index_col = 'key_value')

In [77]:
### sexo tiene 4 clases  ### freq 0
### est_cvl tiene 6 clases  ### freq 4
### sit_lab tiene 4 clases  ### freq 1
### cod_ocu tiene 39 clases  ### freq 22
### ctd_hijos tiene 12 clases  ### freq 0
### flg_sin_email tiene 2 clases  ### freq 1
### lgr_vot tiene 2070 clases  ### freq 18
### prv tiene 197 clases  ### freq 111
### dto tiene 1662 clases  ### freq 949
### rgn tiene 7 clases  ### freq 3
### tip_lvledu tiene 8 clases  ### freq 0

In [78]:
# tiene registros de 358428 con 14 features
# edad y cod_ubi tienen valores nulos con cerca de 1% cada uno

# edad  *
# sexo *
# cod_ubi *

In [96]:
dict_ = {'sexo':'int32',
 'est_cvl':'int32',
 'sit_lab':'int32',
 'cod_ocu':'int32',
 'ctd_hijos':'int32',
 'flg_sin_email':'int32',
  'lgr_vot':'int32',
 'prv':'int32',
 'dto':'int32',
 'rgn':'int32',
 'tip_lvledu':'int32'}
se_train = se_train.astype(dict_)
se_test = se_test.astype(dict_)

In [97]:
se_train['edad'] = se_train['edad'].fillna(se_train['edad'].median())
se_test['edad'] = se_test['edad'].fillna(se_train['edad'].median())
se_train['cod_ubi'] = se_train['cod_ubi'].fillna(se_train['cod_ubi'].median())
se_test['cod_ubi'] = se_test['cod_ubi'].fillna(se_train['cod_ubi'].median())

In [99]:
se_train

,edad,sexo,est_cvl,sit_lab,cod_ocu,ctd_hijos,flg_sin_email,ctd_veh,cod_ubi,lgr_vot,prv,dto,rgn,tip_lvledu
key_value,,,,,,,,,,,,,,
0,-0.983651,1,4,2,22,0,1,0.0,-0.070167,17,47,687,4,0
1,0.000953,1,4,1,22,0,1,1.0,-0.738566,10,186,849,6,0
2,0.531124,0,4,1,22,0,1,0.0,-0.297248,15,84,1405,1,7
3,-1.135129,0,4,1,22,0,1,0.0,-1.203435,4,9,977,6,7
4,-1.438084,0,4,1,22,0,1,0.0,0.043424,18,111,391,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358482,1.742944,0,4,3,22,0,1,0.0,0.047914,18,92,521,3,7
358483,-0.302002,0,0,3,22,3,1,0.0,0.043367,18,111,768,3,7
358484,-1.513823,1,4,3,22,0,1,0.0,-0.523795,13,127,949,5,7
358485,0.076691,1,4,2,22,0,1,0.0,0.725428,26,111,1313,3,0
358486,-0.529219,1,4,1,22,0,1,0.0,0.734419,26,163,698,6,0

In [100]:
se_train.to_csv('../data/intermediate/se_train.csv')
se_test.to_csv('../data/intermediate/se_test.csv')